* {
  margin: 20px 20px 20px 20px;
}

body {
  background-color: khaki;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: crimson;
}

.resumen {
  color: indigo;
}

.contenedor {
  border: 0.1em solid #555;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contacto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}
.certificados{ 
    background-color: azure;
    border: 0.1em solid orchid ; color: purple;
}