.contenedor{
    display: grid;
    grid-template-columns: auto 70px auto;
    row-gap: 15px;
    column-gap: 15px;
}

.item{
    background-color: navajowhite;
    border: 1px solid black;
    color: indigo;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    }
    #ancho{
grid-column-start: 1;
grid-column-end: 4;
    }
    #alto{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    